body{
    background-color: rgb(253, 254, 217);
}

table{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    border-color: black;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}